body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cbc8c8;
  color: #333;
}

h1 {
  text-align: center;
  color: #024caa;
  font-size: 2.5em;
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: #4682b4;
  font-size: 2em;
  margin-bottom: 15px;
}

h3 {
  text-align: center;
  color: #244b90;
  font-size: 1.8em;
  margin-bottom: 20px;
}
button {
  position: absolute;
}

marquee {
  font-size: 2em;
}

p {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

img {
  vertical-align: middle;
  margin: 0 10px;
}

form {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

input[type="text"],
input[type="password"],
select {
  padding: 8px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

button {
  display: block;
  width: 150px;
  padding: 10px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  font-size: 1em;
}

button:hover {
  background-color: #5a9bd6;
}

.warning {
  color: red;
  font-weight: bold;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.1em;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #4682b4;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
